In [88]:
import pandas as pd

df = pd.read_json("https://github.com/danielfireman/ifal-qd/raw/main/df.zip")
print(df.shape)
print(df.head())
print("\n## Total de municípios: " + str(df["municipio"].unique().size))

(30503, 9)
   municipio       cod  possui_nomeacoes  possui_exoneracoes  num_nomeacoes  \
0  arapiraca  7FAF9A43             False               False              0
1  arapiraca  799E1734             False               False              0
2  arapiraca  AE23279C             False               False              0
3  arapiraca  A3E1293A             False               False              0
4  arapiraca  1E3A9996             False               False              0

   num_exoneracoes   ano  mes  dia
0                0  2022    2   25
1                0  2022    2   25
2                0  2022    2   25
3                0  2022    2   25
4                0  2022    2   25

## Total de municípios: 91

In [89]:
print("\n## Total de atos: " + df["cod"].count().astype(str))

print("\n## Total de Atos por mês\n")
print(df.groupby(["ano", "mes"])["cod"].count())

## Total de atos: 30503

## Total de Atos por mês

ano   mes
2022  1      1786
      2      2376
      3      2937
      4      2576
      5      3068
      6      3050
      7      2787
      8      3006
      9      2455
      10     1918
      11     2215
      12     2329
Name: cod, dtype: int64

In [90]:
print("\n## Média de Atos dos município mês\n")
print(df.groupby(["ano", "mes"])[["cod", "municipio"]].apply(
    lambda x: x.count() / x["municipio"].unique().size)["cod"])

## Média de Atos dos município mês

ano   mes
2022  1      21.780488
      2      28.285714
      3      34.151163
      4      31.414634
      5      35.264368
      6      35.465116
      7      32.406977
      8      35.364706
      9      27.897727
      10     22.045977
      11     26.369048
      12     27.400000
Name: cod, dtype: float64

In [91]:
print("\n## Top 10 Municípios com maior número de atos\n")
print(df.groupby(["municipio"])["cod"].count().sort_values(ascending=False).head(10))

## Top 10 Municípios com maior número de atos

municipio
delmiro-gouveia       2550
marechal-deodoro      2123
arapiraca             1639
rio-largo             1382
campo-alegre          1259
teotonio-vilela       1256
maragogi              1053
pilar                 1006
sao-jose-da-tapera     878
junqueiro              696
Name: cod, dtype: int64

In [92]:
print("\n## Total de nomeações: " + df["num_nomeacoes"].sum().astype(str))

print("\n## Nomeações por mês\n")
print(df.groupby(["ano", "mes"])["num_nomeacoes"].sum())

## Total de nomeações: 2459

## Nomeações por mês

ano   mes
2022  1      108
      2      215
      3      593
      4      293
      5      141
      6      406
      7      182
      8      124
      9      168
      10      79
      11      59
      12      91
Name: num_nomeacoes, dtype: int64

In [93]:
print("\n## Média de Nomeações dos município por mês\n")
print(df.groupby(["ano", "mes"])[["municipio", "num_nomeacoes"]].apply(
    lambda x: x["num_nomeacoes"].sum() / x["municipio"].unique().size))

## Média de Nomeações dos município por mês

ano   mes
2022  1      1.317073
      2      2.559524
      3      6.895349
      4      3.573171
      5      1.620690
      6      4.720930
      7      2.116279
      8      1.458824
      9      1.909091
      10     0.908046
      11     0.702381
      12     1.070588
dtype: float64

In [94]:
print("\n## Top 10 Municípios com maior número de nomeações\n")
print(df.groupby(["municipio"])["num_nomeacoes"].sum(
).sort_values(ascending=False).head(10))

## Top 10 Municípios com maior número de nomeações

municipio
delmiro-gouveia       456
maragogi              386
mata-grande           283
pariconha             130
rio-largo             127
arapiraca             118
marechal-deodoro      102
teotonio-vilela       100
sao-jose-da-tapera     96
maravilha              71
Name: num_nomeacoes, dtype: int64

In [95]:
print("\n## Total de exonerações: " + df["num_exoneracoes"].sum().astype(str))

print("\n## Exonerações por mês\n")
print(df.groupby(["ano", "mes"])["num_exoneracoes"].sum())

## Total de exonerações: 485

## Exonerações por mês

ano   mes
2022  1      14
      2      61
      3      39
      4      44
      5      42
      6      36
      7      95
      8      30
      9      33
      10     34
      11     23
      12     34
Name: num_exoneracoes, dtype: int64

In [96]:
print("\n## Média de Exonerações dos município por mês\n")
print(df.groupby(["ano", "mes"])[["municipio", "num_exoneracoes"]].apply(
    lambda x: x["num_exoneracoes"].sum() / x["municipio"].unique().size))

## Média de Exonerações dos município por mês

ano   mes
2022  1      0.170732
      2      0.726190
      3      0.453488
      4      0.536585
      5      0.482759
      6      0.418605
      7      1.104651
      8      0.352941
      9      0.375000
      10     0.390805
      11     0.273810
      12     0.400000
dtype: float64

In [97]:
print("\n## Top 10 Municípios com maior número de exonerações\n")
print(df.groupby(["municipio"])["num_exoneracoes"].sum().sort_values(ascending=False).head(10))

## Top 10 Municípios com maior número de exonerações

municipio
delmiro-gouveia       107
maragogi               56
minador-do-negrao      50
rio-largo              44
sao-jose-da-tapera     21
inhapi                 18
piranhas               18
mata-grande            16
pao-de-acucar          16
jequia-da-praia        15
Name: num_exoneracoes, dtype: int64